* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-family: "Open Sans", sans-serif;
}

#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 0.5rem;
}

#navbar ul li a:hover {
    background: #336ea2;
    border-radius: 4px;
}

#foods {
    color: #333;
    padding: 1rem;
}

.foods {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.foods .food {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.foods .food .food-image {
    margin-right: 0.5rem;
    position: relative;
}

.foods .food .food-image img {
    width: 20rem;
    height: 14rem;
    border-radius: 5px;
}

.foods .food .food-info .title {
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.foods .food .food-info .description {
    letter-spacing: 2px;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.foods .food .food-info .fiyat {
    display: inline-block;
    margin-top: 7rem;
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.foods .food .food-info .fiyat .kebap,
.kusbasi,
.ciger {
    display: none;
}

.foods .food .food-info .buy {
    margin-top: 7rem;
    float: right;
    display: flex;
}

.foods .food .food-info .buy button {
    width: 2.5rem;
}

.foods .food .food-info .buy p {
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

#contact {
    color: white;
    padding: 1rem;
}

#contact .contact-form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 0.5rem;
    align-self: center;
}

#contact .contact-form ul li a {
    margin: 1rem;
    font-size: 1.5rem;
}

#contact .contact-form ul li a:hover {
    opacity: 0.6;
}